<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mokap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Mokap.Properties.Settings>
            <setting name="DefaultSystemDPI" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="HandClosedClor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="HandOpenColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="HandLassoColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="TrackedJointColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="InferredJointColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="InferredBoneColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Body1Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Body2Color" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Body3Color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Body4Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Body5Color" serializeAs="String">
                <value>Violet</value>
            </setting>
            <setting name="Body6Color" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="InferredZPositionClamp" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="BodyPenThickness" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="JointThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HandSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ClipBoundsThickness" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SpineBaseBoneLength" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="TraceBodyFrameData" serializeAs="String">
                <value>False</value>
            </setting>
        </Mokap.Properties.Settings>
    </userSettings>
</configuration>
